.modify_blog label {
    display: block;
    padding: 8px 0;
}

.modify_blog input, .modify_blog select, .modify_blog textarea {
    width: 100%;
    display: block;
    padding: 5px;
    font-size: 16px;
}

.modify_blog .modify_blog_form_intro {
    height: 85px;
    padding: 5px
}

.modify_blog .modify_blog_form_article {
    height: 285px;
}



.modify_blog input[type=radio] {
    display: inline-block;
    width: auto!important;
    margin-right: 5px;
    padding-right: 10px;
}

.form_group_radio {
    display: flex;
    padding: 10px 0;
}

.form_group_radio div {
    margin-right: 10px;
}

.form_group_radio div label {
    display: inline!important;
}