@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');

/* Base Styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive, sans-serif;
  color: #333;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}